$txt-color:rgb(104, 104, 104);
$box:rgb(18, 144, 255);
$bg-color:rgb(190, 225, 255);

.projects{
    width: 100vw;
    overflow: hidden;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, $bg-color, $box);

    h5{

        color: $box;
        text-align: center;
        padding-top: 20px;
        font-size: xx-large;
        border-bottom: 2px solid $box;
        width: 80%;
        margin: 0  10%;
        font-weight: 500;
    }
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    }
}
.container {
    // margin-top: 20px;
    width: 80vw;
    // height: 80vh;
    display: grid;
    overflow: hidden;
    margin: 0;
    list-style: none;

    gap: 15px;
    padding: 15px;
    // background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    @media screen and (min-width:700px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
  }
  
  .item {
    background: rgb(248, 238, 238);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60vh;
    border-radius: 10px;
    padding: 10%;
    img{
        // width: 20vw;
        height: 50%;
        overflow: hidden;
        padding: 0 10%;
        @media screen and (min-width:700px) {
            width: 20vw;
        }
    }
    h5{
        font-size: x-large;
    }
    p{
        text-align: center;
        font-size: large;
        color: $txt-color;
    }

  }

  .item:hover{
    background-color: $bg-color;
    box-shadow: 10px 10px .6em $txt-color;
    color: $bg-color;
  }
  