* {
  font-family: "Playfair Display", serif;
box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /* overflow: hidden; */
  /* overflow: contain; */

}

a{
  text-decoration: none;
}